.page {
	position: relative;
	display: flex;

	// Current Component
	flex-grow: 1;
	// Children Components
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.page_content_scrollWrapper {
		overflow-y: scroll;
		max-height: 60vh;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.page__FadeInOut{
		pointer-events: none;
		position: absolute;
		background: linear-gradient(to bottom, black, transparent 15%, transparent 50%, transparent 85%, black);
		max-height: 60vh;
		height: 100%;
		width: 80vw;
		z-index: 1;
	}
	
	.page__content {
		padding-top: 50px;
		padding-bottom: 50px;
		color: white;
		width: 80vw;
		.page__title {
			font-size: 2em;
			font-weight: 600;
			color: white;
			padding-bottom: 15px;
			text-align: center;
		}
		.page__subtitle {
			font-size: 1.6em;
			font-weight: 600;
			color: white;
			text-align: center;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		p{
			text-align: center;
			padding-bottom: 10px;
		}

		ul, ol{
			width: 50%;
			left: 50%;
			position: relative;
			transform: translateX(-50%);
			ul, ol{
				width: 80%;
			}
		}

		ul {
			list-style: disc;
		}

		a {
			font-weight: 600;
			color: #89b4c4;
			text-decoration: none;
		}
	}
}